@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'PT Mono', monospace;
    background-color: aliceblue;
}

#root {
    height: 100vh;
}

.wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#submitModal {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 512px;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

#fontControlBox {
    font-size: 20px;
    margin: 16px;
}

#fontControlBox > button {
    padding: 8px;
    width: 48px;
    height: 48px;
    margin-left: 12px;
}
